<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>PokeSearch</title>
</head>
<body>
    <div class="searchbox">
        <h1>PokeSearch</h1>
        <p>Enter a Pokemon's name to see its information</p>
        <form action="/pokemon" method="GET">
            <input type="text" name="pokemon" placeholder="Search for a Pokemon" required>
            <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>
